body{
  text-align: center;
  background-color: rgb(255, 252, 243);
  margin: 50px;
}
h1 {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(0, 0, 0);
}
p {
  font-family: 'Courier New', sans-serif;
  text-align: center;
  color: rgb(58, 57, 57);
}
a{
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  color: rgb(58, 57, 57);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}