  body{
    text-align: center;
  }
  img{
    width: 360px;
    height: 360px;
    border-radius: 180px;
  }
  #something {
    color: rgb(red);
    font-weight: bold;
    font-size: 25px;
  }

  
  /* li{
    list-style-type: none;
    list-style: upper-roman;
    color: blue;
  }
  ol{
    list-style: none;
    color: aqua; 
  }  */