  
  main{
    width: 600px;
    margin: 200px auto 72px auto;
    background-color: bisque;
    padding: 24px;
    border: 3px solid;
    border-radius: 15px;
    box-shadow: 1px 2px 8px;
  }
  img{
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 3px solid;
    margin-top: -134px;
  }
  h1{
    font-size: 30px;
    color: brown;
  }
  p{
    font-size: 34px;
    font-weight: bold;
  }
  a{
    color: red;
  }
  span{
    color:orangered;
  }
