body{
    font-family: 'Courier New', Courier, monospace ;
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}


header ul{
    display: flex;
    
}

header li{
    margin-left: 20px;

}

#page-logo a{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}
#page-logo a:hover{
    color: orange;
    transition: 0.8s;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    border-radius: 8px;
}
header a:hover{
    color: orange;
    transition: 0.8s;
}
